<?xml version="1.0"?>
<config>
    <modules>
        <JR_ModuleFactory>
            <version>0.1.0</version>
        </JR_ModuleFactory>
    </modules>
    <global>
        <resources>
            <module_factory_setup>
                <setup>
                    <module>JR_ModuleFactory</module>
                </setup>
            </module_factory_setup>
        </resources>
        <models>
            <jr_modulefactory>
                <class>JR_ModuleFactory_Model</class>
            </jr_modulefactory>
        </models>
        <blocks>
            <jr_modulefactory>
                <class>JR_ModuleFactory_Block</class>
            </jr_modulefactory>
        </blocks>
        <helpers>
            <jr_modulefactory>
                <class>JR_ModuleFactory_Helper</class>
            </jr_modulefactory>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <module_factory before="Mage_Adminhtml">JR_ModuleFactory_Adminhtml</module_factory>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <JR_ModuleFactory>
                    <files>
                        <default>JR_ModuleFactory.csv</default>
                    </files>
                </JR_ModuleFactory>
            </modules>
        </translate>
    </adminhtml>
</config>